/* aside */
/* section new */

.new {
  padding-bottom: 43px;
}

.new__title {
  margin-bottom: 45px;
}

.new__item {
  display: flex;
  align-items: start;
  width: 100%;
  margin-bottom: 22px;
}

.new__item:last-child {
  margin-bottom: 60px;
}

.new__img-box {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.new__picture {
  display: block;
  width: 70px;
  height: 70px;
}

.new__time {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
}

.new__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.new__heading-link {
  color: #000;
  transition: 0.3s color ease-in-out;
}

.new__heading-link:focus, .new__heading-link:hover {
  outline: none;
  color: var(--main-color);
}

.new__form {
  display: flex;
  align-items: center;
}

.search__input {
  display: block;
  padding-left: 18px;
  border: none;
  width: 100%;
  height: 48px;
  background-color: var(--input-bg);
  cursor: pointer;
}

.search__label-input {
  position: relative;
}

.search__label-input::before {
  content: "";
  position: absolute;
  bottom: -24px;
  right: 0;
  width: 219px;
  height: 2px;
  background-color: var(--main-color);
  z-index: 1;
  opacity: 0;
  transition: 0.3s opacity ease-in-out;
}

.search__input:focus {
  outline: none;
}

.search__input:focus + .search__label-input::before{
  outline: none;
  opacity: 1;
}

.search__btn {
  display: block;
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  background-color: var(--main-color);
  background-image: url("../../svg/search.svg");
  background-position: center center;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  border: none;
  transition: 0.3s background-color ease-in-out;
  cursor: pointer;
}

.search__btn:focus {
  outline: none;
  background-color: var(--focus-color-dark);
} 

/* section subscribe */

.subscribe {
  padding-bottom: 44px;
}

.subscribe__title {
  margin-bottom: 40px;
}

.subscribe__input {
  width: 100%;
  height: 49px;
  padding-left: 18px;
  padding-right: 18px;
  margin-bottom: 16px;
  border: none;
  background-color: var(--input-bg);
  cursor: pointer;
}

.subscribe__input-label {
  position: relative;
  display: block;
  width: 100%;
}

.subscribe__input-label::before {
  content: "";
  position: absolute;
  top: -18px;
  left: 0px;
  width: 100%;
  height: 2px;
  background-color: var(--main-color);
  z-index: 1;
  opacity: 0;
  transition: 0.3s opacity ease-in-out;
}

.subscribe__input:focus {
  outline: none;
}

.subscribe__input:focus + .subscribe__input-label::before{
  outline: none;
  opacity: 1;
}

.subscribe__submit {
  width: 100%;
  height: 49px;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  border: none;
  background-color: var(--main-color);
  transition: 0.3s background-color ease-in-out;
  cursor: pointer;
}

.subscribe__submit:focus {
  outline: none;
  background-color: var(--focus-color-dark);
}

/* tegs */
.tegs {
  padding-bottom: 44px;
}

.tegs__title {
  margin-bottom: 41px;
}

.tegs__list {
  display: flex;
  flex-wrap: wrap;
}

.tegs__item {
  margin-right: 5px;
  margin-bottom: 6px;
}

.tegs__item:last-child {
  margin-right: 0;
}

.tegs__link {
  display: inline-block;
  padding: 7px 13px;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  color: #0f0d0e;
  border: 3px solid #eee;
  transition: 0.3s border ease-in-out;
}

.tegs__link:focus {
  border: 3px solid var(--main-color);
}

/* themes */

.themes__title {
  margin-bottom: 45px;
}

.themes__item {
  position: relative;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 14px;
}

.themes__link {
  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: 13px;
  color: #000;
  transition: 0.3s color ease-in-out;
}

.themes__link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #eee;
  transition: 0.3s background-color ease-in-out;
}

.themes__link:focus {
  color: var(--main-color);
}

.themes__link:focus:before {
  background-color: var(--main-color);
}

.themes__item sup {
  margin-left: 5px;
  color: var(--main-color);
}

/* media */

@media (min-width: 641px) {
  .aside {
    width: 38%;
  }
}

@media (min-width: 1200px) {
  .aside {
    width: 270px;
  }

  .search__input::placeholder, .subscribe__input::placeholder {
    font-size: 13px;
  }

  .search__input:hover + .search__label-input::before{
    outline: none;
    opacity: 1;
  }
  
  .search__btn:hover {
    background-color: var(--focus-color-dark);
  } 
  
  .subscribe__input:hover + .subscribe__input-label::before{
    outline: none;
    opacity: 1;
  }

  .subscribe__submit:hover {
    background-color: var(--focus-color-dark);
  }

  .tegs__link {
    transition: 0.3s background-color ease-in-out, 0.2s color ease-in-out, 0.2s border ease-in-out;
  }

  .tegs__link:hover {
    background-color: var(--main-color);
    color: #fff;
  }

  .themes__link:hover:before {
    background-color: var(--main-color);
  }
  
}
