/* main */
.main-content {
  padding-bottom: 43px;
}

.card__img-container {
  width: 100%;
  height: 260px;
  margin-bottom: 16px;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__content {
  margin-bottom: 21px;
}

.card__tegs {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.card__teg-item:not(:last-child) {
  margin-right: 20px;
}

.card__teg-link {
  position: relative;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--main-color);
}

.card__title {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #0f0d0e;
}

.card__info {
  margin-bottom: 22px;
}

.card__time {
  margin-right: 14px;
  font-size: 12px;
  color: #888;
}

.card__autor {
  font-weight: 700;
  font-size: 12px;
  color: #000;
}

.card__descr {
  font-size: 14px;
  line-height: 20px;
  color: #0f0d0e;
}

.card__divider {
  width: 100%;
  height: 4px;
  margin-bottom: 35px;
  background-color: #eee;
}


/* media */

@media (min-width: 641px) {

  .main-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .main {
    width: 56%;
  }

}

@media (min-width: 1200px) {
  .main {
    width: unset;
    max-width: 772px;
  }

  .card {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 60px;
  }

  .card:last-child {
    margin-bottom: 0;
  }

  .card__img-container {
    width: 381px;
    height: 294px;
    margin-right: 30px;
    margin-bottom: 0;
  }

  .card__content {
    display: flex;
    flex-direction: column;
    max-width: 360px;
    margin-bottom: 0;
  }

  .card__divider {
    display: none;
  }

  .card__tegs {
    margin-bottom: 14px;
  }

  .card__teg-link {
    font-size: 13px;
    color: var(--main-color);
  }

  .card__teg-link:focus {
    outline-offset: 5px;
    outline: 1px solid var(--main-color);
  }

  .card__teg-link::before {
    position: absolute;
    bottom: 0px;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: var(--main-color);
    transition: 0.3s opacity ease-in-out;
    opacity: 0;
  }
  
  .card__teg-link:hover::before {
    opacity: 1;
  }
  

  .card__title {
    margin-bottom: 35px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }

  .card__title-link {
    transition: 0.3s color ease-in-out;
  }
  
  .card__title-link:focus, .card__title-link:hover {
    outline: none;
    color: var(--main-color);
  }
  
  .card__info {
    margin-bottom: 54px;
  }
  
  .card__descr {
    font-size: 15px;
    line-height: 22px;
  }
}