/* section trend */

.trend {
  padding-top: 40px;
  padding-bottom: 44px;
}

.trend__title {
  margin-bottom: 36px;
}

.trend__list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.trend__item {
  position: relative;
  display: flex;
  align-items: end;
  min-height: 230px;
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 3px;
  background-color: #dadada;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.trend__item :last-child {
  margin-bottom: 0;
}

.trend__item::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.trend__item-first {
  background-image: url("../../img/trend1.jpg")
}

.trend__item-second {
  background-image: url("../../img/trend2.jpg")
}

.trend__item-thirth {
  background-image: url("../../img/trend3.jpg")
}

.trend__item-fourth {
  background-image: url("../../img/trend4.jpg")
}

.trend__container {
  display: flex;
  flex-grow: 1;
}

.trend__card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 100%;
  padding: 33px 23px 30px 23px;
  border: 3px solid var(--main-color-opacity);
  z-index: 1;
}

.trend__card-tegs {
  display: flex;
  flex-wrap: wrap;
}

.trend__teg {
  margin-right: 20px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--main-color);
}

.trend__teg:last-child {
  margin-right: 0;
}

.trend__card-heading {
  margin-top: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
}

/* media */


@media (min-width: 641px), (max-width: 640px) and (orientation: landscape) {

  .trend {
    padding-top: 46px;
    padding-bottom: 50px;
  }
  
  .trend__title {
    margin-bottom: 32px;
  }

  .trend__list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .trend__item {
    min-height: 248px;
    width: calc(50% - 2px);
    margin-bottom: 4px;
  }
  

}

@media (min-width: 641px) and (orientation: landscape) {

  .trend__container {
    padding: 0 15px;
  }
  
  .trend__item {
    justify-content: space-between;
    align-items: end;
    min-height: 320px;
    width: calc((100% - 12px) / 4);
  }

  .trend__card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 100%;
    padding: 5px;
    border: 3px solid var(--main-color-opacity);
    z-index: 1;
  }
}

@media (min-width: 1200px) {
  .trend {
    padding-top: 59px;
    padding-bottom: 64px;
  }

  .trend__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .trend__item {
    justify-content: space-between;
    align-items: end;
    min-height: 320px;
    width: calc((100% - 12px) / 4);
  }

  .trend__card {
    padding: 41px 44px 40px 36px;
  }
  
}